<!DOCTYPE html>
<html lang="es">

<head>
  <%- include('./partials/head') %> 
</head>

  <!-- Header -->
  <% if (locals.user != undefined) { %>
    <%- include('./partials/headerLogueado') %>
  <% } else { %>
    <%- include('./partials/header') %>
  <% } %>
  <!-- /Header -->

  <!-- body-->
  <!-- Login Form -->
<body>
  <div class="container d-flex justify-content-center align-items-center min-vh-100">
    <form class="formLOG w-100" action="/users/login" method="POST">
        <div class="title">Ingresar</div>
        <div class="input-container">
            <input id="email" class="form-input" type="email" name="email" placeholder="Email" required />
        </div>
        <div class="input-container">
            <input id="password" class="form-input" type="password" name="contrasenia" placeholder="Contraseña" required />
        </div>
        <!-- Eliminar btn-primary y aplicar la clase btn para personalizar el estilo -->
        <button type="submit" class="btn w-100">Ingresar</button>
    </form>
  </div>
</body>
  <!-- /Login Form -->
  <!-- /body-->

 <!-- Footer -->
 <%- include('./partials/footer') %>
 <!-- /Footer -->
</html>


