<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->



<body>
	<!-- Header -->
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> //////////////////////////////// <br>
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action = "/product/productAdd/redirect" method= 'post' class="form" >
				<div class="div">
					<label for="imagen">Imagen:</label class="label">
					<input type="text"name="imagen" id="imagen" required></input>
					<% if (locals.errors && errors.imagen) { %>
						<p class="error"><%= errors.imagen.msg %></p>
					<% } %>
				</div>
				<div class="div">
					<label for="producto">Nombre del producto:</label class="label">
					<input type="text" name="producto" id="producto" placeholder="ej:lavarropas" required></input>
					<% if (locals.errors && errors.producto) { %>
						<p class="error"><%= errors.producto.msg %></p>
					<% } %>
				</div>
				<div class="div">
					<label for="descripcion">Descripción:</label class="label">
					<input type="text" name="descripcion" id="descripcion" placeholder="Describa su producto" required></input>
					<% if (locals.errors && errors.descripcion) { %>
						<p class="error"><%= errors.descripcion.msg %></p>
					<% } %>
				</div>
				<div class="div">
					<button class="button" type="submit">Agregar productos</button class="button">
				</div>
			</form>


	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
							¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
							beneficio de Mercado Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->
</body>

</html>