<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->



<body>
	<!-- Header -->
	
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> //////////////////////////////// <br>
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<form action = "/product/productAdd/redirect" method= 'post' class="form" >
				<div class="div">
					<label for="imagen">Imagen:</label class="label">
					<input type="text"name="imagen" id="imagen" required></input>
					<% if (locals.errors && errors.imagen) { %>
						<p class="error"><%= errors.imagen.msg %></p>
					<% } %>
				</div>
				<div class="div">
					<label for="producto">Nombre del producto:</label class="label">
					<input type="text" name="producto" id="producto" placeholder="ej:lavarropas" required></input>
					<% if (locals.errors && errors.producto) { %>
						<p class="error"><%= errors.producto.msg %></p>
					<% } %>
				</div>
				<div class="div">
					<label for="descripcion">Descripción:</label class="label">
					<input type="text" name="descripcion" id="descripcion" placeholder="Describa su producto" required></input>
					<% if (locals.errors && errors.descripcion) { %>
						<p class="error"><%= errors.descripcion.msg %></p>
					<% } %>
				</div>
				<div class="div">
					<button class="button" type="submit">Agregar productos</button class="button">
				</div>
			</form>


	<!-- Footer -->
    <%- include('./partials/footer') %>
    <!-- /Footer -->
</body>

</html>